/* Estilo para el html y body para que ocupen toda la altura de la ventana */
html, body {
    height: 100%; /* Asegura que el html y el body ocupen el 100% del alto */
    margin: 0; /* Elimina el margen predeterminado */
}

/* Estilo para el body */
body {
    background-image: url('Fondo.avif'); /* Cambia esto al nombre de tu imagen */
    background-size: cover; /* Asegura que la imagen cubra toda la pantalla */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    color: white; /* Cambia el color del texto si es necesario */
}

/* Estilo para el título */
h1 {
    margin-bottom: 30px;
}

/* Estilos para los botones */
.btn {
    margin: 10px; /* Añade un margen entre los botones */
}

/* Estilo para la firma */
.text-right {
    position: fixed; /* Posiciona la firma de manera fija */
    bottom: 10px; /* Alinea al fondo */
    right: 20px; /* Alinea a la derecha */
    font-size: 14px; /* Tamaño de fuente */
    color: #6c757d; /* Color de la firma */
}
